.azure-pipelines
.github
.tmp
.git
.vscode/**
.vscode-test/**
keymaps
lib/atom/**
lib/*/test/**
node_modules
!node_modules/uuid
spec
styles
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.vsix
**/webpack.config.js
