.azure-pipelines
.github
.tmp
.git
.vscode/**
.vscode-test/**
lib/*/test/**
node_modules
!node_modules/uuid
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.vsix
**/webpack.config.js
