# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'body':
  'ctrl-y':'core:paste'

'.editor':
  'ctrl-g':'emacs:cancel'
  'ctrl-@':'emacs:set-mark'
  'ctrl-y':'emacs:yank'
  'ctrl-k':'emacs:kill'
  'ctrl-w':'emacs:kill-region-or-backward-word'
  'alt-w':'emacs:copy-region'
  'escape w':'emacs:copy-region'

  'ctrl-a':'editor:move-to-first-character-of-line'
  'ctrl-e':'editor:move-to-end-of-line'
  'ctrl-right':'editor:move-to-beginning-of-next-word'
  'ctrl-left':'editor:move-to-beginning-of-word'
  'ctrl-up':'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-down':'editor:move-to-beginning-of-next-paragraph'
  'ctrl-v':'core:page-down'
  'alt-v':'core:page-up'
  'escape v':'core:page-up'
  'alt-<':'core:move-to-top'
  'escape <':'core:move-to-top'
  'alt->':'core:move-to-bottom'
  'escape >':'core:move-to-bottom'

  'ctrl-s':'find-and-replace:find-next'

  'ctrl-x ctrl-s':'core:save'
  'ctrl-x ctrl-f':'application:open'
  'ctrl-x ctrl-c':'application:quit'
  'ctrl-x u':'core:undo'
  'ctrl-x k':'core:close'

  'alt-x':'command-palette:toggle'
  'escape x':'command-palette:toggle'
  'alt-/':'autocomplete:toggle'

'.find-and-replace':
  'ctrl-s':'find-and-replace:find-next'

'.editor.transient-marked':
  'ctrl-g':'emacs:set-mark'
  'right':'core:select-right'
  'ctrl-f':'core:select-right'
  'left':'core:select-left'
  'ctrl-b':'core:select-left'
  'up':'core:select-up'
  'ctrl-p':'core:select-up'
  'down':'core:select-down'
  'ctrl-n':'core:select-down'
  'ctrl-a':'editor:select-to-first-character-of-line'
  'ctrl-e':'editor:select-to-end-of-line'
  'ctrl-right':'editor:select-to-beginning-of-next-word'
  'ctrl-left':'editor:select-to-beginning-of-word'
  'ctrl-up':'editor:select-to-beginning-of-previous-paragraph'
  'ctrl-down':'editor:select-to-beginning-of-next-paragraph'
  'ctrl-v':'core:select-page-down'
  'alt-<':'core:select-to-top'
  'escape <':'core:select-to-top'
  'alt->':'core:select-to-bottom'
  'escape >':'core:select-to-bottom'
