# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'body':
  'ctrl-x b':'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x ctrl-b':'fuzzy-finder:toggle-file-finder'
  'ctrl-x ctrl-f':'application:open'
  'ctrl-x ctrl-c':'application:quit'

  'ctrl-x 3':'pane:split-right'
  'ctrl-x 2':'pane:split-down'
  'ctrl-x 0':'pane:close'
  'ctrl-x o':'window:focus-next-pane'

  'ctrl-g':'core:cancel'

'atom-workspace atom-panel':
  'ctrl-g':'tool-panel:unfocus'

'atom-workspace atom-text-editor[mini]':
  'ctrl-g':'core:cancel'
  'ctrl-k':'editor:cut-to-end-of-line'
  'ctrl-y':'core:paste'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-g':'emacs:cancel'
  'ctrl-@':'emacs:set-mark'
  'ctrl-`':'emacs:set-mark'
  'ctrl-y':'emacs:yank'
  'ctrl-k':'emacs:kill'
  'ctrl-w':'emacs:kill-region-or-backward-word'
  'alt-w':'emacs:copy-region'
  'escape w':'emacs:copy-region'

  'ctrl-d':'core:delete'
  'backspace':'emacs:backspace'
  'ctrl-h':'emacs:backspace'

  'ctrl-n':'core:move-down'
  'ctrl-p':'core:move-up'
  'ctrl-f':'core:move-right'
  'ctrl-b':'core:move-left'

  'ctrl-a':'editor:move-to-first-character-of-line'
  'ctrl-e':'editor:move-to-end-of-line'
  'ctrl-right':'editor:move-to-beginning-of-next-word'
  'ctrl-left':'editor:move-to-beginning-of-word'
  'ctrl-up':'editor:move-to-beginning-of-previous-paragraph'
  'ctrl-down':'editor:move-to-beginning-of-next-paragraph'

  'ctrl-shift-right':'editor:select-to-beginning-of-next-word'
  'ctrl-shift-left':'editor:select-to-beginning-of-word'

  'ctrl-v':'core:page-down'
  'alt-v':'core:page-up'
  'escape v':'core:page-up'
  'alt-<':'core:move-to-top'
  'escape <':'core:move-to-top'
  'alt->':'core:move-to-bottom'
  'escape >':'core:move-to-bottom'

  'ctrl-s':'emacs:isearch'
  'ctrl-r':'emacs:backward-isearch'

  'ctrl-x ctrl-s':'core:save'
  'ctrl-x ctrl-w':'core:save-as'
  'ctrl-x u':'core:undo'
  'ctrl-x k':'core:close'

  'alt-.':'symbols-view:toggle-file-symbols'

  'alt-x':'command-palette:toggle'
  'escape x':'command-palette:toggle'
  'alt-/':'autocomplete:toggle'

'atom-workspace atom-text-editor.transient-marked':
  'ctrl-g':'emacs:set-mark'
  'right':'core:select-right'
  'ctrl-f':'core:select-right'
  'left':'core:select-left'
  'ctrl-b':'core:select-left'
  'up':'core:select-up'
  'ctrl-p':'core:select-up'
  'down':'core:select-down'
  'ctrl-n':'core:select-down'
  'ctrl-a':'editor:select-to-first-character-of-line'
  'ctrl-e':'editor:select-to-end-of-line'
  'ctrl-right':'editor:select-to-beginning-of-next-word'
  'ctrl-left':'editor:select-to-beginning-of-word'
  'ctrl-up':'editor:select-to-beginning-of-previous-paragraph'
  'ctrl-down':'editor:select-to-beginning-of-next-paragraph'
  'ctrl-v':'core:select-page-down'
  'alt-<':'core:select-to-top'
  'escape <':'core:select-to-top'
  'alt->':'core:select-to-bottom'
  'escape >':'core:select-to-bottom'

'atom-workspace atom-text-editor.searching':
  'enter': 'emacs:cancel'
  'space': 'emacs:input-isearch'
  '0': 'emacs:input-isearch'
  '1': 'emacs:input-isearch'
  '2': 'emacs:input-isearch'
  '3': 'emacs:input-isearch'
  '4': 'emacs:input-isearch'
  '5': 'emacs:input-isearch'
  '6': 'emacs:input-isearch'
  '7': 'emacs:input-isearch'
  '8': 'emacs:input-isearch'
  '9': 'emacs:input-isearch'
  'a': 'emacs:input-isearch'
  'b': 'emacs:input-isearch'
  'c': 'emacs:input-isearch'
  'd': 'emacs:input-isearch'
  'e': 'emacs:input-isearch'
  'f': 'emacs:input-isearch'
  'g': 'emacs:input-isearch'
  'h': 'emacs:input-isearch'
  'i': 'emacs:input-isearch'
  'j': 'emacs:input-isearch'
  'k': 'emacs:input-isearch'
  'l': 'emacs:input-isearch'
  'm': 'emacs:input-isearch'
  'n': 'emacs:input-isearch'
  'o': 'emacs:input-isearch'
  'p': 'emacs:input-isearch'
  'q': 'emacs:input-isearch'
  'r': 'emacs:input-isearch'
  's': 'emacs:input-isearch'
  't': 'emacs:input-isearch'
  'u': 'emacs:input-isearch'
  'v': 'emacs:input-isearch'
  'w': 'emacs:input-isearch'
  'x': 'emacs:input-isearch'
  'y': 'emacs:input-isearch'
  'z': 'emacs:input-isearch'
  'A': 'emacs:input-isearch'
  'B': 'emacs:input-isearch'
  'C': 'emacs:input-isearch'
  'D': 'emacs:input-isearch'
  'E': 'emacs:input-isearch'
  'F': 'emacs:input-isearch'
  'G': 'emacs:input-isearch'
  'H': 'emacs:input-isearch'
  'I': 'emacs:input-isearch'
  'J': 'emacs:input-isearch'
  'K': 'emacs:input-isearch'
  'L': 'emacs:input-isearch'
  'M': 'emacs:input-isearch'
  'N': 'emacs:input-isearch'
  'O': 'emacs:input-isearch'
  'P': 'emacs:input-isearch'
  'Q': 'emacs:input-isearch'
  'R': 'emacs:input-isearch'
  'S': 'emacs:input-isearch'
  'T': 'emacs:input-isearch'
  'U': 'emacs:input-isearch'
  'V': 'emacs:input-isearch'
  'W': 'emacs:input-isearch'
  'X': 'emacs:input-isearch'
  'Y': 'emacs:input-isearch'
  'Z': 'emacs:input-isearch'
  '_': 'emacs:input-isearch'
  ',': 'emacs:input-isearch'
  '.': 'emacs:input-isearch'
  '!': 'emacs:input-isearch'
  '?': 'emacs:input-isearch'
  '@': 'emacs:input-isearch'
  '#': 'emacs:input-isearch'
  '$': 'emacs:input-isearch'
  '%': 'emacs:input-isearch'
  '~': 'emacs:input-isearch'
  '&': 'emacs:input-isearch'
  '|': 'emacs:input-isearch'
  '^': 'emacs:input-isearch'
  '"': 'emacs:input-isearch'
  "'": 'emacs:input-isearch'
  '`': 'emacs:input-isearch'
  ';': 'emacs:input-isearch'
  ':': 'emacs:input-isearch'
  '(': 'emacs:input-isearch'
  ')': 'emacs:input-isearch'
  '{': 'emacs:input-isearch'
  '}': 'emacs:input-isearch'
  '[': 'emacs:input-isearch'
  ']': 'emacs:input-isearch'
  '+': 'emacs:input-isearch'
  '*': 'emacs:input-isearch'
  '-': 'emacs:input-isearch'
  '/': 'emacs:input-isearch'
  '=': 'emacs:input-isearch'
  '<': 'emacs:input-isearch'
  '>': 'emacs:input-isearch'
  '\\': 'emacs:input-isearch'
